* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    user-select: none;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}


body {
    background-color: rgb(238, 238, 238);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0px;
}



.parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.con {
    width: 70%;
}

form {
    width: 100%;
}

fieldset {
    width: 50%;
    margin: auto;
    background-color: rgb(255, 251, 236);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 13px;
    border-radius: 9px;
    border: none;
}

h3 {
    text-align: center;
    margin: 27px 0px;
}

.taux-tva-con {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.r-con {
    display: flex;
    flex-direction: row;
    gap: 13px
}

#nine,
#eleven,
#nineteen {
    margin: 0px 7px 0px 0px;
    transform: scale(1.3);
    outline: none;
}

.r-con,
#prd-select,
#qte,
#prix-ht,
#montant,
#total-ttc {
    height: 33px;
    border-radius: 9px;
    border: none;
    padding-left: 9px;
    padding-right: 9px;
    width: 70%;
}

#qte {
    border: 1px solid gray;
}

#prix-ht,
#montant,
#total-ttc {
    background-color: rgb(225, 245, 254);
}

#qte:focus {
    border: 1px solid cornflowerblue;
    outline: 2px solid #BBDEFB;
}

.taux-tva-con,
.prd-con,
.qte-con,
.prix-ht-con,
.montant-con,
.total-ttc-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    margin-bottom: 19px;
}

.taux-tva-con > label,
.prd-con label,
.qte-con label,
.prix-ht-con label,
.montant-con label,
.total-ttc-con label{
    display: inline-block;
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.nine-con,
.eleven-con,
.nineteen-con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[type="radio"],
input[type="radio"] + label,
button,
#prd-select {
    cursor: pointer;
}

#prd-select {
    outline: none;
}

input[type="number"] {
    outline: none;
}

button {
    padding: 9px 13px;
    outline: none;
    border: none;
    border-radius: 7px;
}

button:hover {
    font-size: 17px;
}

#c-btn {
    background-color: cornflowerblue;
}

#e-btn {
    background-color: coral;
    margin-right: 17px;
}

.btns-con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 33px;
}




@media (max-width: 900px) {
    fieldset {
        width: 70% !important;
    }
}

@media (max-width: 500px) {
    fieldset {
        padding-left: 13px !important;
        padding-right: 13px !important;
    }

    .taux-tva-con,
    .prd-con,
    .qte-con,
    .prix-ht-con,
    .montant-con,
    .total-ttc-con {
        flex-direction: column !important;
        gap: 13px !important;
    }
    label {
        font-size: 0.9em;
        text-align: center;
    }
    .prd-select {
        font-size: 0.9em;
    }
    .r-con {
        justify-content: center;
    }
}
